<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vinta.mapper.CommentInfoMapper">

    <resultMap id="BaseResultMap" type="com.vinta.entity.po.CommentInfo">
            <id property="commentId" column="comment_id" jdbcType="INTEGER"/>
            <result property="postId" column="post_id" jdbcType="VARCHAR"/>
            <result property="commenterId" column="commenter_id" jdbcType="VARCHAR"/>
            <result property="replyId" column="reply_id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        comment_id,post_id,commenter_id,
        reply_id,content,status,
        create_time,location
    </sql>
</mapper>
