<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vinta.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.vinta.entity.po.UserInfo">
            <id property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="userNickname" column="user_nickname" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="birthday" column="birthday" jdbcType="DATE"/>
            <result property="region" column="region" jdbcType="VARCHAR"/>
            <result property="career" column="career" jdbcType="VARCHAR"/>
            <result property="school" column="school" jdbcType="VARCHAR"/>
            <result property="profile" column="profile" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="TINYINT"/>
            <result property="head" column="head" jdbcType="VARCHAR"/>
            <result property="follower" column="follower" jdbcType="BIGINT"/>
            <result property="follow" column="follow" jdbcType="BIGINT"/>
            <result property="great" column="great" jdbcType="BIGINT"/>
            <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_name,email,
        user_nickname,password,description,
        gender,birthday,region,
        career,school,profile,
        level,head,follower,
        follow,great,last_login_time
    </sql>
    <select id="login" resultType="com.vinta.entity.po.UserInfo">
        select * from user_info where email = #{email}
    </select>
</mapper>
